#tm_builder_outer_content {

	.tm_pb_promo.tm_pb_module {
		padding: 40px;
		background-position: center center;
		width: 100%;

		.tm_pb_promo_description {
			padding-bottom: 0;

			h2 {
				margin-bottom: 20px;
				@include before;
				&:before{
					margin-bottom: 31px;
				}
			}
		}
		.tm_pb_button.tm_pb_promo_button {
			margin-top: 8px;
			background-color: transparent;
		}

		.tm_pb_promo_description{
			p:last-of-type{
				margin-bottom: 32px;
			}
		}

	}

	.tm_pb_column_1_2 .tm_pb_promo.tm_pb_module,
	.tm_pb_column_4_4 .tm_pb_promo.tm_pb_module {
		padding-top: 70px;
		padding-bottom: 70px;
		@include media-breakpoint-up(lg) {
			padding: 130px 60px;
		}
	}
}
