#tm_builder_outer_content {

	.tm_pb_slider.tm_pb_module,
	.tm_pb_slider {

		&:hover {
			.tm-pb-arrow-prev {
				left: 0;
				opacity: 0.6;
			}
			.tm-pb-arrow-next {
				right: 0;
				opacity: 0.6;
			}
		}

		.tm-pb-arrow {

			&-prev,
			&-next {
				@include linear-icon;
				line-height: 50px;
				width: 50px;
				height: 50px;
				text-align: center;
				margin-top: -25px;
				background: transparent;
				display: none;
				opacity: 0;
				@include font-size(2.5);
				&:hover {
					opacity: 1;
				}

				@media (min-width: 480px){
					display: inline-block;
				}
			}

			&-prev{
				@include border-right-radius($border__radius);
				&:before {
					content: '\e93b';
				}
			}


			&-next{
				@include border-left-radius($border__radius);
				&:before {
					content: '\e93c';
				}
			}
		}

		.tm-pb-controllers {
			bottom: 8%;
			@include media-breakpoint-up(xl) {
				bottom: 14%;
			}
		}

		.tm_pb_slide_description {
			padding: 45% 0;
			@include media-breakpoint-up(xl) {
				padding: 33% 0 20%;
			}

			.tm_pb_slide_title {
				@include font-size(2);
				text-transform: uppercase;
				letter-spacing: 0.06em;
				margin-bottom: 0;
				position: relative;

				@include media-breakpoint-up(lg) {
					@include font-size(5.875);
				}

				@include media-breakpoint-up(xl) {
					@include font-size(6.875);
				}

				&:before {
					display: inline-block;
					width: 116px;
					height: 2px;
					content: '';
					position: absolute;
					top: -17px;
					left: 50%;
					transform: translateX(-50%);
				}
			}

			.tm_pb_slide_content {
				text-transform: uppercase;
				h1 {
					margin-bottom: 15px;
				}
				> *:last-child {
					margin-bottom: 20px;
				}
			}
		}

		.tm_pb_more_button {
			margin-top: 15px;
			@include media-breakpoint-up(md) {
				margin-top: 37px;
			}
		}

	}
}

#tm_builder_outer_content {
	.tm_pb_module {
		.tm-pb-controllers {
			a {
				width: 14px;
				height: 14px;
				border-radius: 50%;
				opacity: 1;
				transition: .3s;
				margin: 0 8px 5px;
				line-height: 1;
			}
		}
	}
}

#tm_builder_outer_content .tm_pb_slider .tm_pb_container {
	padding-left: $grid-gutter-width/2;
	padding-right: $grid-gutter-width/2;
}

.slider-pro .sp-image{
	margin-top: 0 !important;
}