#tm_builder_outer_content {

	.tm_pb_column_1_3 .tm_pb_testimonial.tm_pb_module .tm_pb_testimonial_portrait,
	.tm_pb_column_1_4 .tm_pb_testimonial.tm_pb_module .tm_pb_testimonial_portrait,
	.tm_pb_column_4_4 .tm_pb_testimonial.tm_pb_module.tm_pb_text_align_center .tm_pb_testimonial_portrait,
	.tm_pb_column_4_4 .tm_pb_testimonial.tm_pb_module.tm_pb_text_align_center:before {
		margin-right: auto;
		margin-left: auto;
	}


	.tm_pb_testimonial.tm_pb_module {
		display: flex;
		flex-direction: column;
		height: auto;
		margin-bottom: 50px;

		&.tm_pb_testimonial_no_bg {
			padding-top: 0;
		}

		&::before {
			text-align: left;
			margin-bottom: 22px;
		}
		&::after{
			content: none;
		}

		.tm_pb_testimonial_description {
			&_inner {
				width: auto !important;
			}
		}

		.tm_pb_testimonial_portrait {
			border-radius: 55px;
			width: 109px;
			height: 109px;
			float: none;
			display: block;
			order: -1;
			margin-right: 0;
			margin-bottom: 30px;
		}

		.tm_pb_testimonial_meta_wrap {

		}
		.tm_pb_testimonial_author {
			font-weight: inherit;
			margin-bottom: 0;
			text-transform: none;
			margin-top: 23px;
			left: 0;
		}
		.tm_pb_testimonial_meta {
			@include font-size(.875);
		}
	}

}
