#tm_builder_outer_content .tm_pb_module {
	ul:not([class]) {
		list-style: none;
		margin: 0 0 1.5em 0;
		&:last-child {
			margin-bottom: 0;
		}
		li {
			list-style: inherit;

			& + li,
			> ul li,
			> ol li {
				margin-top: 5px;
			}
		}

		> li{
			&:before {
				content: '•';
				margin-right: 10px;
			}
		}
	}
	ol, ul:not([class]) {
		li > ul:not([class]),
		li > ol {
			margin-bottom: 0;
			margin-left: 1.1em;
		}
	}
}

.tm_pb_text {
	h4, h2, h6 {
		@include before;
	}

	* + h6:before{
		display: none;
	}

	h4:before{
		margin-bottom: 30px;
	}

	h6:before{
		margin-bottom: 60px;
	}

	&.tm_pb_text_align_left {
		h4:before,
		h2:before,
		h6:before {
			margin-left: 0;
		}
	}
	&.tm_pb_text_align_right {
		h4:before,
		h2:before,
		h6:before {
			margin-right: 0;
		}
	}
}


