h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	margin: 0;
	&:last-child {
		margin-bottom: 0;
	}
	p + & {
		margin-top: 45px;
	}
}

h3 + p{
	margin-top: 25px;
}

h6 + p {
	margin-top: 14px;
}

h4 + h6 {
	margin-top: 51px;
}

h2 + h6{
	margin-top: 37px;
}