/* Change default indent to Cherry Team Members Grid System */
.cherry-team.team-wrap {
	.cherry-team-row {
		margin-left:  ($grid-gutter-width / -2);
		margin-right: ($grid-gutter-width / -2);

		[class*="col_"] {
			padding-left:  ($grid-gutter-width / 2);
			padding-right: ($grid-gutter-width / 2);
		}
	}
	&.team-collapse-rows {
		.cherry-team-row {
			margin-left:  0;
			margin-right: 0;
		}
	}
	&.team-collapse-cols {
		.cherry-team-row [class*="col_"] {
			padding-left:  0;
			padding-right: 0;
		}
	}
}

/* Customization Style Cherry Team Members*/
.cherry-team.team-wrap {
	.single.position-fullwidth & {
		@include media-breakpoint-up(xl) {
			margin-top: 3em;
		}
	}
}
.cherry-team.team-wrap .team-listing {
	text-align: center;

	.team-item {
		padding-bottom: 74px;
	}
	.team-listing {
		&_photo {
			padding: 0 0 25px;
			img {
				vertical-align: top;
			}
		}
		&_name {
			margin-bottom: 0;
		}
		&_position {
			@include font-size(1);
			display: block;
		}
		&_desc {
			margin-top: 18px;
		}
	}
}

/* Grid-boxes template style */
.cherry-team.team-wrap.template-grid-boxes .team-listing {
	.team-item {
		padding-bottom: 0;
	}
	.team-listing {
		&_photo {
			padding: 0;
		}
		&_content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			transition: all 300ms ease-in;
		}
	}
}

/* Grid-boxes-2 template style */
.cherry-team.team-wrap.template-grid-boxes-2 .team-listing {
	.team-listing {
		&_photo {
			padding: 0;
			img {
				width: 100%;
			}
		}
		&_image {
			margin-bottom: 25px;
			position: relative;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				opacity: 0;
				transition: .3s;
				z-index: 1;
			}

			.team-listing_photo + .team-listing_socials {
				position: absolute;
				left: 0;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				margin-top: 30px;
				opacity: 0;
				transition: .3s;
			}
			.team-listing_socials {
				position: relative;
				z-index: 2;
			}
			&:hover {
				&:before {
					opacity: 0.9;
				}
				.team-listing_socials {
					opacity: 1;
					margin-top: 0;
				}
			}
		}
	}
	.team-socials {
		padding: 0;
	}
}

/* Team socials */
.cherry-team.team-wrap .team-socials{
	padding: 25px 0 0 0;
	@include grid-indent(7px, 'margin');
	&_item {
		margin-top: 0;
		margin-bottom: 5px;
	}
	&_link {
		width: 30px;
		height: 30px;
		&:hover {
			.team-socials_label {
				bottom: 40px;
			}
		}
	}
	&_icon {
		line-height: 30px;
	}
	&_label {
		bottom: 60px;
	}
}

/* Filters and loaders */
#tm_builder_outer_content .team-container .cherry-team-filter {
	text-align: center;
}
.team-container {
	.cherry-team-filter {
		text-align: center;
		border-bottom: 1px solid $color__background-hr;

		&_item {
			margin: 0;
		}

		&_link {
			@include font-size(.75);
			text-transform: uppercase;
			border: none;
			font-weight: 400;
			letter-spacing: .72px;
			padding: 0 17px;
		}
	}
	.team-more-btn {
		text-align: center;
		.ajax-more-btn {
			margin-top: 15px;
		}
	}

	.team-loader {
		transform: translateX(-50%);
	}

	.team-ajax-pager {
		.archive & {
			padding: 70px 0 5px;
			border-top: 1px solid $color__background-hr;
		}
	}

	.nav-links {
		text-align: center;

		.page-numbers.current {
			pointer-events: none;
		}
	}
}

/* Single team page */
.cherry-team.team-wrap.template-single {
	padding: 25px 0;
	text-align: center;

	.team-photo {
		float: none;
		padding: 0 0 48px 0;
		text-align: center;
	}
	.team-name {
		margin-bottom: 0;
	}

	.team-skills {
		margin-top: 25px;
	}

	.team-meta {
		float: none;
		padding: 0 0 23px 0;
		@include font-size(1);
		&_item {
			display: block;
			&:before {
				font-style: normal;
			}
			&.position,
			&.location,
			&.website,
			&.email,
			&.phone {
				&:before {
					content: none;
				}
			}
		}
	}
}

/* Team skills */
.team-skills {
	&_item {
		padding-bottom: 0;
		position: relative;
		& + .team-skills_item {
			margin-top: 30px;
		}
	}
	&_label {
		text-align: left;
		margin-bottom: 10px;
		padding-right: 70px;
	}
	&_bar {
		height: auto;
		padding: 6px;
		@include border-radius();
	}
	&_line {
		height: 10px;

		&:before {
			content: attr(data-width)'%';
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}

/* Team headings */
.team-heading {
	&_super_title,
	&_title,
	&_subtitle {
		text-align: center;
		@include before;
		&:before{
			margin-bottom: 30px;
		}
		& + .cherry-team.team-wrap {
			margin-top: 40px;
		}
	}
}
