.widget {
	margin-bottom: 70px;

	@include sidebars-area() {
		@include font-size(14/16);
		line-height: 1.714285;
	}

	&-title {
		margin-bottom: 1em;

		.full-width-header-area &,
		.after-content-full-width-area &,
		.tm_pb_column_4_4 & {
			margin-bottom: 1.5em;
		}
	}

	& + .widget {
		padding-top: 57px;
		border-top: 1px solid $color__background-hr;

		.footer-area:not(.footer-area--fullwidth) & {
			padding-top: 0;
			border-top: none;
		}
	}

	select {
		max-width: 100%;
	}

	.full-width-header-area &,
	.after-content-full-width-area & {
		&,
		& .subscribe-follow__wrap {
			padding-left: $grid-gutter-width/2;
			padding-right: $grid-gutter-width/2;
		}

		&.widget-smart-slider,
		&.widget-fpblock,
		&.widget-playlist-slider,
		&.widget-subscribe {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.footer-area {
	padding: 80px 0 10px;
	@include media-breakpoint-up(lg) {
		padding: 130px 0 60px;
	}
}

.footer-area.widget-area .widget{
	line-height: 1.625;
}


.full-width-header-area {
	.widget:first-child {
		.widget-title {
			margin-top: 1.5em;
		}
	}
	.breadcrumbs + & {
		margin-top: 3em;
		.widget:first-child {
			.widget-title{
				margin-top: 0;
			}
		}
	}
}
