.site-footer.default {
	.site-info {
		&-wrap,
		&__bottom {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-content: stretch;
			align-items: center;
			@include media-breakpoint-up(lg) {
				justify-content: space-between;
			}
			> * {
				width: 100%;
				text-align: center;
				@include media-breakpoint-up(lg) {
					text-align: left;
					width: auto;
				}
			}
		}
		&-wrap {
			@include grid-indent(15px, 'margin');
		}

		&__bottom {
			@include media-breakpoint-up(lg) {
				> *:not(:last-child) {
					margin-right: 30px;
				}
			}
		}

		.footer-logo ~ .site-info__bottom,
		.footer-menu ~ .site-info__bottom,
		.footer-logo + .footer-menu + .footer-copyright {
			margin-top: 30px;
			flex: 0 0 calc(100% - 30px);
			max-width:  calc(100% - 30px);
			width: 100%;
			padding-top: 15px;
			order: 4;
			position: relative;
			border-top: 1px solid rgba($color__background-hr, 0.2);
		}
		.footer-logo + .footer-menu + .footer-copyright {
			padding-top: 25px;
		}
	}
}

.footer-area-wrap + .footer-container{
	padding: 10px 0;
}