.tm-testi {
	&-slider {
		padding-bottom: 0;
	}

	.archive & {
		margin-bottom: 70px;
	}

	&__title {
		margin-bottom: 35px;
	}

	&__item {

		margin-top: 0;
		margin-bottom: 50px;

		.tm-testi-slider & {
			margin-bottom: 0;
		}

		&-avatar {
			@include border-radius(50%);
			display: block;
			margin: 0 auto 25px;
		}

		&-body {
			p {
				margin-bottom: 16px;
			}
		}

		&-position,
		&-email,
		&-company {
			@include font-size(.875);
			display: inline-block;
			&:after {
				content: ', ';
			}
			&:last-child {
				&:after {
					content: none;
				}
			}
		}

		blockquote {
			&:before {
				content: "\201c";
				font-family: "Times New Roman", Times, serif;
				display: block;
				font-size: 72px;
				line-height: 50px;
				font-weight: 700;

				#tm_builder_outer_content & {
					content: "\201c";
				}
			}

			.tm-testi__wrap--perview-1 &,
			.tm-testi-page--archive & {
				flex-direction: column;
			}
		}
	}

	.tm-testi-slider__pags.swiper-pagination {
		position: static;
		margin-top: 28px;
	}
	.tm-testi-slider__next,
	.tm-testi-slider__prev {
		transition: .2s;
		&:before {
			@include linear-icon;
			line-height: 50px;
			@include font-size(1.25);
		}
	}
	.swiper-button-next.tm-testi-slider__next {
		display: block;
		right: -50px;
		&:before {
			content: '\e93c';
		}
	}
	.swiper-button-prev.tm-testi-slider__prev {
		display: block;
		left: -50px;
		&:before {
			content: '\e93b';
		}
	}
	&:hover {
		.swiper-button-next.tm-testi-slider__next {
			right: 0;
		}
		.swiper-button-prev.tm-testi-slider__prev {
			left: 0;
		}
	}

	// default.tmpl
	&--default,
	&--default-without-icon {
		.tm-testi-slider & {
			padding-left: 15px;
			padding-right: 15px;
		}

		blockquote {
			&:before {
				order: 3;
				position: static;
			}
			.tm-testi__item-avatar {
				order: 1;
			}
			.tm-testi__item-body {
				order: 5;
			}

		}
		&.tm-testi__wrap--listing {
			blockquote {
				text-align: left;

				.tm_pb_column_4_4 & {
					text-align: center;
				}
			}
			.tm-testi__item-avatar {
				.tm_pb_column_1_2 &,
				.tm_pb_column_2_3 &,
				.tm_pb_column_3_4 &{
					margin: 0 0 25px 0;
				}
			}
			.tm-testi__item:nth-child(even){
				.tm-testi__item-avatar {
					float: none;
					margin-left: 0;
				}
			}
		}
	}
	// default-without-icon.tmpl
	&--default-without-icon {
		blockquote {
			&:before {
				content: none;

				#tm_builder_outer_content & {
					content: none;
				}
			}
		}
	}

	// speech-bubble.tmpl
	&--speech-bubble {
		blockquote {
			text-align: left;
			&:before {
				content: none;
				#tm_builder_outer_content & {
					content: none;
				}
			}
			cite:before {
				content: none;
			}
		}

		.tm-testi__item-meta {
			padding-top: 35px;
			text-align: center;
			@include media-breakpoint-up(xl) {
				text-align: left;
				display: flex;
				align-items: center;
				flex-flow: row wrap;
			}
			.tm-testi__item-avatar {
				margin: 0 auto 20px;
				@include media-breakpoint-up(xl) {
					flex-shrink: 0;
					margin: 0 40px 0 0;
				}
			}
			footer {
				margin: 15px 0;
				cite {
					margin-top: 0;
				}
			}
		}

		.tm-testi__item-body {
			border: 1px solid $color__background-hr;
			padding: 20px;
			@include border-radius();
			@include media-breakpoint-up(md) {
				padding: 40px;
			}

			.tm_pb_column_1_3 &,
			.tm_pb_column_1_4 & {
				@include media-breakpoint-between(md, lg) {
					padding: 15px;
				}
			}

			&:after {
				@include triangle( bottom, 30px, 15px, $color__background-hr );
				left: 40px;
				margin: 0;
				z-index: 1;
			}
			&:before {
				content: '';
				@include triangle( bottom, 30px, 15px, $color__white );
				left: 40px;
				top: 100%;
				position: absolute;
				z-index: 2;
				margin-top: -1px;
			}
			&:before,
			&:after {
				left: 50%;
				transform: translateX(-50%);
				@include media-breakpoint-up(xl) {
					left: 40px;
					transform: translateX(0);
				}
			}

			p {
				position: relative;
				padding-top: 38px;
				&:before {
					content: "\201c";
					font-family: "Times New Roman", Times, serif;
					display: block;
					font-size: 72px;
					line-height: 50px;
					font-weight: 700;
					text-align: left;
					position: absolute;
					top: 0;
					left: 0;
				}
			}

		}
	}
	// boxed.tmpl
	&--boxed {
		.tm-testi__inner {
			padding-top: 0;
		}
		blockquote {
			border: 1px solid $color__background-hr;
			margin-top: 0;
			padding: 20px;
			@include media-breakpoint-up(md) {
				padding: 40px 40px 70px;
			}

			@include border-radius();

			.tm_pb_column_1_3 &,
			.tm_pb_column_1_4 & {
				@include media-breakpoint-between(md, lg) {
					padding: 15px;
				}
			}

			&:before {
				text-align: left;
				position: static;
			}
			cite:before {
				content: none;
			}
		}
		.tm-testi__item-body {
			p {
				margin-bottom: 25px;
			}
		}
		.tm-testi__item-avatar {
			margin: -15px auto 45px;
		}
	}

	blockquote{
		text-transform: none;
		text-align: left;
	}
}

.services-macros .tm-testi__item {
	margin-bottom: 50px;
}

.tm-testi__item-body cite:before{
	display: none;
}