.cherry-projects-wrapper,
.cherry-projects-single-post,
.cherry-projects-single-details-list ul li,
.cherry-projects-terms-wrapper {
	color: $regular_text_color;
}

.cherry-projects-wrapper .cherry-spinner-double-bounce .cherry-double-bounce1,
.cherry-projects-wrapper .cherry-spinner-double-bounce .cherry-double-bounce2,
.cherry-projects-terms-wrapper .cherry-spinner-double-bounce .cherry-double-bounce1,
.cherry-projects-terms-wrapper .cherry-spinner-double-bounce .cherry-double-bounce2,
.cherry-projects-wrapper ul.order-filters > li ul {
	background-color: $regular_accent_color_1;
}

.cherry-projects-wrapper .projects-filters ul.projects-filters-list li span{
	color: $regular_accent_color_2;
}
.cherry-projects-wrapper .projects-filters ul.projects-filters-list li.active span,
.cherry-projects-wrapper .projects-filters ul.projects-filters-list li span:hover,
.cherry-projects-wrapper ul.order-filters > li span.current{
	color: $regular_accent_color_1;
}

.cherry-projects-wrapper .projects-item-instance .hover-content,
.cherry-projects-terms-wrapper .projects-terms-container .hover-content{
	background-color: @alpha($regular_accent_color_1, 90%);
}

.cherry-projects-wrapper .projects-item-instance .simple-icon,
.cherry-projects-terms-wrapper .projects-terms-container .simple-icon{
	color: $invert_text_color;
}

.cherry-projects-wrapper .projects-item-instance .simple-icon:hover,
.cherry-projects-terms-wrapper .projects-terms-container .simple-icon:hover,
.cherry-projects-wrapper ul.order-filters > li ul li:hover span{
	color: $regular_link_hover_color;
}

.cherry-projects-wrapper .projects-pagination .page-link li {
	background-color: $regular_accent_color_3;
	border-color: $regular_accent_color_3;
	color: $regular_text_color;
}

.cherry-projects-wrapper .projects-pagination .page-navigation span:hover {
	color: $regular_accent_color_1;
}

.cherry-projects-wrapper .projects-ajax-button-wrapper .projects-ajax-button span {
	color: $invert_link_color;
	background-color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
}

.cherry-projects-wrapper .projects-ajax-button-wrapper .projects-ajax-button span:hover {
	background-color: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
}

.cherry-projects-single-post .featured-image a .cover,
.cherry-projects-single-post .additional-image a .cover,
.cherry-projects-wrapper .projects-item-instance .featured-image a .cover {
	background-color: @alpha($regular_accent_color_1, 80%);
}

.cherry-projects-single-post .featured-image a:before,
.cherry-projects-single-post .additional-image a:before,
.cherry-projects-wrapper .projects-item-instance .featured-image a:before {
	color: $invert_text_color;
}

.cherry-projects-single-details-list .cherry-projects-details-list-title {
	font-style: $h5_font_style;
	font-weight: $h5_font_weight;
	font-size: $h5_font_size{px};
	line-height: $h5_line_height;
	font-family: @font_family( $h5_font_family );
	letter-spacing: $h5_letter_spacing{em};
	color: $regular_h5_color;
}
.cherry-projects-single-details-list ul li span,
.cherry-projects-single-skills-list .cherry-skill-item .skill-label,
.cherry-projects-single-skills-list ul .cherry-skill-item .skill-bar span em{
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	color: $regular_h6_color;
}

.cherry-projects-single-skills-list .cherry-skill-item .skill-bar {
	background-color: $regular_accent_color_3;
}

.cherry-projects-single-skills-list .cherry-skill-item .skill-bar span {
	background-color: $regular_accent_color_1;
}

.cherry-projects-single-skills-list .cherry-skill-item .skill-bar span em {
	color: $invert_text_color;
}

.cherry-projects-slider__instance .sp-arrow {
	color: @alpha($invert_text_color, 60);
}

.cherry-projects-slider__instance .sp-arrow:hover{
	color: @alpha($invert_text_color, 100);
}


.cherry-projects-slider__instance .slider-pro .sp-full-screen-button:hover:before {
	color: $regular_accent_color_1;
}

.cherry-projects-slider__instance .sp-image-container:before {
	background: linear-gradient(to top, @alpha($regular_accent_color_2, 0%), @alpha($regular_accent_color_2, 50%));
}

.cherry-projects-terms-wrapper .projects-terms-container.grid-layout .project-terms-content,
.cherry-projects-terms-wrapper .projects-terms-container.masonry-layout .project-terms-content,
.cherry-projects-terms-wrapper .projects-terms-container.cascading-grid-layout .project-terms-content{
	background-color: $regular_accent_color_1;
}

.projects-terms-item .terms-grid-skin1 h5,
.projects-terms-item .terms-grid-default-2 h5{
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
}

.terms-grid-skin1 .featured-image .cover{
	background-color: @alpha($regular_accent_color_3, 60);
}

.terms-grid-skin1:hover .cover{
	background-color: @alpha($regular_accent_color_3, 95);
}

.cherry-projects-wrapper .projects-item-instance .grid-default-layout a .cover{
	background-color: @alpha($regular_accent_color_3, 95);
}

.cherry-projects-terms-wrapper .projects-terms-container .terms-grid-skin1 .term-permalink span{
	font-family: $h6_font_family;
}

.cherry-projects-wrapper .projects-item-instance .terms-grid-skin1 .simple-icon:hover,
.cherry-projects-terms-wrapper .projects-terms-container .terms-grid-skin1 .simple-icon:hover,
.cherry-projects-wrapper .terms-grid-skin1 ul.order-filters > li ul li:hover span{
	color: $regular_accent_color_1;
}

/*Cherry Project Terms Template Skin1_1*/

.cherry-projects-terms-wrapper .projects-terms-container.grid-layout .terms-grid-default-2 .project-terms-content p,
.cherry-projects-terms-wrapper .projects-terms-container.masonry-layout .terms-grid-default-2 .project-terms-content p{
	font-size: $body_font_size{px};
	line-height: $body_line_height;
}

.cherry-projects-terms-wrapper .projects-terms-container .terms-grid-default-2 .term-permalink span{
	font-family: $h6_font_family;
}

.cherry-projects-wrapper .projects-item-instance .terms-grid-default-2 .simple-icon,
.cherry-projects-terms-wrapper .projects-terms-container .terms-grid-default-2 .simple-icon,
.cherry-projects-wrapper .terms-grid-default-2 ul.order-filters > li ul li span{
	color: $regular_accent_color_1;
}

.cherry-projects-wrapper .projects-item-instance .terms-grid-default-2 .simple-icon:hover,
.cherry-projects-terms-wrapper .projects-terms-container .terms-grid-default-2 .simple-icon:hover,
.cherry-projects-wrapper .terms-grid-default-2 ul.order-filters > li ul li:hover span{
	color: $regular_accent_color_2;
}


/*Cherry Single Project*/
.cherry-projects-single .project-entry-title {
	font-size: $h4_font_size{px};
	line-height: $h4_line_height;
}

.cherry-projects-single .project-entry-title:before{
	background-color: $regular_accent_color_1;
}

/*Cherry Project Archive Page*/
.project-media.grid-default-layout .hover-content .simple-icon:hover{
	color: $regular_accent_color_1;
}

.project-media.grid-default-layout .project-entry-title{
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
}

@media (min-width: 1600px){
	.project-media.grid-default-layout .project-entry-title{
	font-size: $h5_font_size{px};
	line-height: $h5_line_height;
}
}

.project-terms-caption.grid-default-layout .project-terms-caption-header{
	background-color: $regular_accent_color_3;
}

.project-terms-caption.grid-default-layout .project-terms-caption-header .project-terms-title{
	color: $invert_text_color;
}

.project-terms-caption.grid-default-layout .project-terms-caption-content .container:before,
.project-terms-caption.grid-default-layout .project-terms-caption-header .project-terms-title:before{
	background-color: $regular_accent_color_1;
}


/*Cherry Projects Filters*/
.cherry-projects-wrapper .projects-filters {
	font-family: $h6_font_family;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
}
