.services-container .cherry-services-filter_link {
	color: $regular_link_hover_color;
}

.services-container .cherry-services-filter_link:hover,
.services-container .cherry-services-filter_item.active .cherry-services-filter_link {
	color: $regular_link_color;
}

.cherry-services .service-icon {
	color: $regular_accent_color_1;
}

.service-features_label {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	color: $regular_h6_color;
}

.cherry-services .cherry-spinner-double-bounce .cherry-double-bounce1,
.cherry-services .cherry-spinner-double-bounce .cherry-double-bounce2 {
	background-color: $regular_accent_color_1;
}

.tm_pb_cherry_services .services-item:nth-of-type(odd):before{
	background-color: $invert_accent_color_1;
}

.tm_pb_cherry_services .services-item .title_wrap{
	font-size: $h4_font_size{px};
	line-height: $h4_line_height;
	font-family: $h4_font_family;
	font-weight: $h4_font_weight;
}

.template-default .title_wrap:before{
	background-color: $regular_accent_color_1;
}

.tm_pb_cherry_services .services-item .title_wrap a{
	color: $regular_h4_color;
}

.tm_pb_cherry_services .services-item .title_wrap a:hover{
	color: $regular_accent_color_1;
}

.tm_pb_cherry_services .services-item .title_wrap a:before{
	background-color: $regular_accent_color_1;
}

/*Media Icon Template*/
.tm_pb_cherry_services .template-media-icon .services-item .title_wrap{
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: $h6_font_family;
	font-weight: $h6_font_weight;
}

.tm_pb_cherry_services .template-media-icon .services-item .title_wrap a{
	color: $regular_h6_color;
}

.tm_pb_cherry_services .template-media-icon .services-item .title_wrap a:hover{
	color: $regular_accent_color_1;
}

.tm_pb_cherry_services .template-media-icon .icon-block{
	background-color: $regular_accent_color_1;
	color: $invert_text_color;
}

.template-media-icon.cherry-services .service-icon {
	color: $invert_text_color;
}

.tm_pb_cherry_services .template-media-icon .icon-block:before{
	background-color: $regular_accent_color_2;
}

.services-heading_title{
	font-size: $h4_font_size{px};
	line-height: $h4_line_height;
	font-family: $h4_font_family;
	font-weight: $h4_font_weight;
}

.services-heading_title:before{
	background-color: $regular_accent_color_1;
}

/*Single service page*/
.services-single-item .title_wrap h2{
	color: $invert_text_color;
}

.services-single-item .title_wrap h2:before{
	background-color: $regular_accent_color_1;
}

.services-single-item .post-thumbnail{
	background-color: $regular_accent_color_3;
}

/*Single service Call to Action Block*/
.services-single-item .cta_wrap{
	background-color: $regular_accent_color_1;
}

.services-single-item .cta_wrap *{
	color: $invert_text_color;
}

.services-single-item .service-cta h3 {
	font-size: $h4_font_size{px};
	line-height: $h4_line_height;
}

.services-single-item .service-cta h3:before {
	background-color: $invert_text_color;
}

.services-single-item .service-cta .cta-button {
	background-color: $invert_text_color;
	color: $regular_accent_color_3;
	border-color: $invert_text_color;
}

.services-single-item .service-cta .cta-button:hover {
	color: $invert_text_color;
	background-color: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
}