/* #Header */
.header-container {
	background-color: $header_bg_color;
	background-image: url($header_bg_image);
	background-repeat: $header_bg_repeat;
	background-position: $header_bg_position_x top;
	background-attachment: $header_bg_attachment;
}

@media (min-width: 1200px ) {
	.site-header.style-5.transparent .header-container {
		max-width: calc($container_width{px} - 50px);
	}
}

/* ##Logo */
.site-logo {
	font-style: $header_logo_font_style;
	font-weight: $header_logo_font_weight;
	font-size: $header_logo_font_size{px};
	font-family: @font_family( $header_logo_font_family );
}
.site-logo__link,
.site-logo__link:hover {
	color: $regular_accent_color_2;
}

/* ##Top Panel */
.top-panel {
	background-color: $top_panel_bg;
}

.site-header-cart .cart-contents i {
	color: @lighten($regular_text_color, 25%);
}

.invert .site-header-cart .cart-contents i {
	color: $invert_text_color;
}

.site-header-cart .cart-contents:hover i,
.invert .site-header-cart .cart-contents:hover i{
	color: $regular_link_color;
}

/*Contact block*/
.site-header .contact-block__label {
	color: $regular_accent_color_2;
}

.site-header .invert .contact-block__label {
	color: $invert_accent_color_2;
}

.contact-block__icon,
.invert .contact-block__icon{
	color: $regular_accent_color_1;
}
