.breadcrumbs {
	position: relative;
	padding: 8px;
	background-color: transparent;
	.row{
		justify-content: space-between;
		align-items: center;
	}
	&__title,
	&__items {
		padding-left: $grid-gutter-width/2;
		padding-right: $grid-gutter-width/2;
	}
	&__title {
		&:empty{
			display: none;
		}
		.page-title {
			margin: 0;
		}
	}
	&__browse {
		margin-right: .5em;
	}
	&__wrap {
		margin: 5px 0;
	}
	&__item {
		display: inline-block;
		&-sep {
			margin: 0 .5em;
		}
		&-link {
			text-decoration: none;
		}
	}
	&__items,
	&__wrap,
	&__item {
		flex-grow: 1;
		text-align: center;
	}
}
