.events-archive .entry-content,
.events-archive .entry-header {
	width: 100%;
}

.tribe-events-promo {
	@include font-size(1.125);
}

#tribe-events {
	margin-bottom: 20px;
	@include media-breakpoint-up(md) {
		margin-bottom: 50px;
	}

	.tribe-events-ajax-loading {
		border-radius: 50%;
		padding: 20px;
	}

	.tribe-events-day-time-slot {
		h5 {
			background: transparent;
			font-weight: 400;
		}

		.tribe-updated {
			font-weight: 400;
			padding-left: 0;
		}
	}

	.tribe-events-notices {
		@include font-size(0.875);
		border: none;
		ul li::before{
			display: none;
		}
	}

	.tribe-events-button {
		padding: 24px 37.5px 23px;
		@include font-size(0.75);
		@include transition(.3s ease all);
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 0.72px;
		border-radius: 3px;
	}

	#tribe-events-content {

		#tribe-events-footer {
			border-color: $color__background-hr;
		}

		.tribe-events-loop {
			max-width: 100%;
			.tribe-events-list-separator-month {
				font-weight: 400;
				@include font-size(1.125);
				span {
					padding: 0 2.5%;
				}
				&::after {
					border-color: $color__background-hr;
				}
			}

			.type-tribe_events {
				padding-bottom: 0;
				@include media-breakpoint-up(md) {
					padding-bottom: 1.75em;
				}
			}

			.type-tribe_events + .type-tribe_events {
				border-top: 1px solid $color__background-hr;
			}

			.tribe-events-event-meta {
				background: transparent;
				border: none;
				clear: none;
				margin: 22px 0 15px;
				br {
					display: none;
				}
			}

			.tribe-events-event-cost {
				float: none;
				width: auto;
				display: inline-block;
				text-align: left;
				margin: 0;
				@include media-breakpoint-up(sm) {
					margin: 23px 0 0;
				}
				span {
					background: transparent;
					@include font-size(1.125);
					border-color: $color__background-hr;
					padding: 15px 20px;
					border-radius: $border__radius;
				}
			}

			.tribe-events-read-more {
				position: relative;
				right: 0;
				bottom: 12px;
				letter-spacing: 0.72px;
				text-transform: uppercase;
				@include font-size(0.75);
				line-height: 18px;
				font-weight: 600;
				@include media-breakpoint-up(md) {
					bottom: 47px;
				}

				@include media-breakpoint-up(sm) {
					position: absolute;
				}

				&::after {
					content: "\e944";
					@include font-size(0.875);
					margin-left: 5px;
					@include linear-icon;
					position: relative;
					top: 1px;
				}
			}

			.tribe-event-schedule-details {
				margin-bottom: 10px;
			}

			.tribe-events-venue-details {
				padding-left: 0;
			}

			.tribe-address {
				@include font-size(0.75);
			}

			.tribe-events-event-image {
				margin: 10px 0 10px 0;
				float: none;
				width: auto;
				@include media-breakpoint-up(lg) {
					margin: 10px 50px 10px 0;
					float: left;
				}
			}

			.tribe-events-list-event-descrption {
				width: 100%;
				float: none;
				margin-top: 25px;
				padding-right: 0;
				display: block;
			}
		}

		.tribe-events-button {
			margin-top: 21px;
			@include media-breakpoint-up(md) {
				margin-top: 51px;
			}
		}

		.tribe-events-sub-nav {
			margin-top: 30px;
			li {
				a {
					font-weight: 300;
					@include font-size(0.875);
					position: relative;
					background: transparent;
					padding: 0;
					span {
						display: none;
					}
					&::before {
						@include linear-icon;
						position: absolute;
						top: 2px;
					}
				}
				&.tribe-events-nav-right a,
				&.tribe-events-nav-next a {
					padding-right: 20px;
					&::before {
						content: '\e944';
						right: 0;
					}
				}
				&.tribe-events-nav-left a,
				&.tribe-events-nav-previous a {
					padding-left: 20px;
					&::before {
						content: '\e943';
						left: 0;
					}
				}
			}
		}

		.tribe-events-page-title {
			margin-top: 58px;
			margin-bottom: 7px;
		}

		.hentry {
			&:nth-child(2):last-child {
				height: calc(100% - 21px);
				.tribe-events-month-event-title {
					position: relative;
					top: 50%;
					left: 0;
					right: 0;
					@include translate(0, -50%);
				}
			}
			position: relative;
			.tribe-events-month-event-title {
				@include font-size(0.875);
				padding: 10px 0;
				display: none;
				@include media-breakpoint-up(md) {
					display: none;
				}
			}

			.tribe-events-tooltip {
				bottom: 100% !important;
				left: 50%;
				transform: translateX(-50%);
				right: auto;
				width: 388px;
				padding: 30px;
				box-shadow: 9px 0 40px rgba(0, 0, 0, 0.12);
				.tribe-events-event-thumb {
					float: none;
					padding: 0;
					margin-bottom: 17px;
				}

				.entry-title {
					font-weight: 400;
					margin-bottom: 20px;
				}

				.tribe-event-duration {
					@include font-size(0.75);
					font-style: italic;
					margin-bottom: 22px;
				}

				.tribe-event-description {
					@include font-size(0.875);
				}

				.tribe-events-arrow {
					right: auto;
					left: 50%;
					@include translate(-50%, 0);
				}

			}
		}

		.tribe-events-calendar {
			border: none;
			border-collapse: separate;
			thead tr th {
				font-weight: 400;
				@include font-size(0.75);
				text-align: center;
				background: transparent;
				border: none;
				padding-bottom: 18px;
				@include media-breakpoint-up(sm) {
					@include font-size(1.125);
				}
			}

			tbody tr {
				td {
					border: none;
					border-top: 1px solid $color__background-hr;
					border-right: 1px solid $color__background-hr;
					height: 129px;
					text-align: center;

					> div:first-child,
					> div:first-child a {
						text-align: center;
						background: transparent;
						font-weight: 400;
						@include font-size(1.125);
						@include transition(.3s ease all);
						padding: 9px 0;
						height: 39px;
						margin-top: 0;
						@include media-breakpoint-up(sm) {
							padding: 9px 13px;
							text-align: left;
						}
					}

					> div:first-child a {
						body & {
							padding: 0;
						}
					}

					&:hover {
						background: transparent;
						box-shadow: none;
					}

					&:first-child {
						border-left: 1px solid $color__background-hr;
					}

					&.mobile-active {
						background: transparent;
					}

					> .hentry {
						display: block;

						&::after {
							content: '\e934';
							@include linear-icon;
							height: auto;
							width: auto;
							background: transparent;
							@include font-size(1.125);
							position: relative;
							top: 45%;
							display: block;
							@include media-breakpoint-up(md) {
								display: none;
							}
						}
					}

					&.tribe-events-othermonth {
						background: transparent;
						> div:first-child {
							opacity: 1;
						}
					}
				}

				&:last-child td {
					border-bottom: 1px solid $color__background-hr;
				}
			}
		}
	}

	#tribe-bar-form {
		background: transparent;
		border: 1px solid $color__background-hr;
		border-radius: $border__radius;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		@include media-breakpoint-up(lg) {
			flex-wrap: nowrap;
		}

		label {
			@include font-size(1.125);
			font-weight: 400;
			text-transform: none;
			margin-bottom: 15px;
		}

		#tribe-bar-date,
		#tribe-bar-search {
			@include text_input;
			&:focus {
				background: transparent !important;
			}
		}

		.tribe-bar-submit {
			width: auto;
			input {
				@include btn_submit;
			}
		}

		#tribe-bar-collapse-toggle {
			width: 100%;
			font-weight: 400;
			position: relative;

			&.tribe-bar-filters-open .tribe-bar-toggle-arrow {
				@include rotate(180deg);
			}

			.tribe-bar-toggle-arrow {
				right: 30px;
				&::after {
					content: '\e93a';
					border: none;
					@include linear-icon;
					position: relative;
					top: auto;
					right: auto;
				}
			}
		}

		#tribe-bar-views {
			&.tribe-bar-views-open .tribe-bar-views-list {
				box-shadow: 2px 2px 8px -2px rgba(0, 0, 0, 0.5);
				padding: 10px !important;
			}
			order: 2;
			left: auto;
			float: none;
			width: 100%;
			padding-left: 0;
			@include media-breakpoint-up(lg) {
				width: 13.66667%;
			}

			.tribe-bar-views-inner {
				background: transparent;
				border-left: none;
				text-align: center;
				padding: 30px 30px 40px;
				border-top: 1px solid $color__background-hr;

				@include media-breakpoint-up(lg) {
					border-left: 1px solid $color__background-hr;
					border-top: none;
					padding: 32px 0 101px;
				}

				label {
					text-align: center;
				}

				.tribe-bar-views-list {
					text-align: left;
					float: none;
					width: auto;
					left: 50%;
					@include translate(-50%, 0);
					@include transition(.5s ease all);
					padding: 0 30px 22px 30px;
					margin-top: -10px;
					@include media-breakpoint-up(lg) {
						margin-top: 22px;
						left: 54%;
					}
					@include media-breakpoint-up(md) {
						padding: 0;
					}

					li a {
						background: transparent;
						display: inline-block;
						span {
							@include font-size(0.875);
							background: none;
							position: relative;
							&::before {
								content: '\e789';
								@include linear-icon;
								@include font-size(1.5);
								position: absolute;
								left: -11px;
								top: -4px;
							}
						}
					}

					li + li {
						margin-top: 10px;
					}

					li.tribe-bar-views-option-list span:before {
						content: '\e6cb';
					}
					li.tribe-bar-views-option-day span:before {
						content: '\e6cc';
					}
				}
			}
		}

		.tribe-bar-filters {
			right: auto;
			float: none;
			order: 1;
			width: 90%;
			.tribe-bar-filters-inner {
				display: flex;
				align-items: flex-end;
				justify-content: space-between;
				padding: 22px 27px 31px;
				flex-wrap: wrap;

				@include media-breakpoint-up(md) {
					flex-wrap: nowrap;
				}

				#tribe-bar-date,
				#tribe-bar-search {
					padding: 20.5px 20px 20.5px 60px;
				}

				.tribe-bar-date-filter i::before {
					content: '\e788';
				}

				.tribe-bar-search-filter i::before {
					content: '\e922';
				}

				> div {
					position: relative;
					padding: 0;
					margin: 10px;
					&:first-child,
					&:first-child + * {
						flex: 100%;
						@include media-breakpoint-up(md) {
							flex: 40%;
						}
					}

					i {
						position: absolute;
						bottom: 17px;
						left: 25px;
						color: darken($color__background-hr, 15%);
						@include font-size(1.5);
						z-index: 1;
					}
				}
			}
		}
	}

	.tribe-bar-disabled {
		float: none;
		#tribe-bar-form {
			.tribe-bar-filters input[type=text] {
				width: 100%;
			}

			#tribe-bar-views + .tribe-bar-filters {
				right: auto;
				width: 100%;
			}
		}
	}
}

.tribe-events-list-widget {
	.tribe-list-widget {
		margin-left: 0;
		.tribe-event-title {
			@include font-size(1.125);
			margin-bottom: 6px;
		}
	}
	.tribe-events-widget-link a {
		letter-spacing: 0.72px;
		text-transform: uppercase;
		@include font-size(0.755);
		line-height: 18px;
		font-weight: 600;
	}
}

body .datepicker.dropdown-menu {
	border-radius: $border__radius;
	padding: 0;
	border: none;
	&::before, &::after {
		display: none;
	}
	box-shadow: 1px 0 10px rgba(0, 0, 0, 0.12);
	.table-condensed {
		border: 1px solid $color__background-hr;
		tr td span, tr th, tr td {
			border-radius: $border__radius;
			@include transition(.3s ease all);
			@include font-size(0.75);
		}
		tr td span, tr td {
			font-style: italic;
		}
		.datepicker-switch {
			font-weight: 400;
		}
		thead tr + tr {
			pointer-events: none;
		}
	}
}

#tribe-events #tribe-events-content .hentry .tribe-events-tooltip .tribe-events-event-thumb img[src=""] {
	display: none;
}

#tribe-mobile-container {
	.type-tribe_events ~ .type-tribe_events {
		border-top: 1px solid $color__background-hr;
	}
	.tribe-events-event-body {
		margin: 20px 0;
		.tribe-mobile-day-heading {
			text-align: center;
			@include font-size(1.5);
			font-weight: 400;
		}

		.tribe-events-event-schedule-details {
			@include font-size(1.125);
		}

		.tribe-events-event-image {
			margin-bottom: 0;
			width: 50%;
		}

		.tribe-events-read-more {
			letter-spacing: 0.72px;
			text-transform: uppercase;
			@include font-size(0.75);
			line-height: 18px;
			font-weight: 600;
		}
	}
}

body.events-list.tribe-bar-is-disabled #tribe-events-content-wrapper {
	max-width: 100%;
	width: 100%;
}

.tribe-events-promo {
	@include font-size(1.125);
}

#tribe-events {
	margin-bottom: 20px;
	@include media-breakpoint-up(md) {
		margin-bottom: 50px;
	}

	.tribe-events-day-time-slot {
		h5 {
			background: transparent;
			font-weight: 400;
		}

		.tribe-updated {
			font-weight: 400;
			padding-left: 0;
		}

	}

	.tribe-events-notices {
		@include font-size(0.875);
		border: none;
	}

	.tribe-events-button {
		padding: 24px 37.5px 23px;
		@include font-size(0.75);
		@include transition(.3s ease all);
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 0.72px;
		border-radius: 3px;
	}

	#tribe-events-content {

		#tribe-events-footer {
			border-color: $color__background-hr;
		}

		.tribe-events-loop {
			max-width: 100%;
			.tribe-events-list-separator-month {
				font-weight: 300;
				@include font-size(1.125);
				span {
					padding: 0 2.5%;
				}
				&::after {
					border-color: $color__background-hr;
				}
			}

			.type-tribe_events {
				padding-bottom: 0;
				margin-bottom: 30px;
				@include media-breakpoint-up(sm){
					margin-bottom: 0;
				}
				@include media-breakpoint-up(md) {
					padding-bottom: 1.75em;
				}
			}

			.type-tribe_events + .type-tribe_events {
				border-top: 1px solid $color__background-hr;
			}

			.tribe-events-event-meta {
				background: transparent;
				border: none;
				clear: none;
				margin: 22px 0 15px;
				br {
					display: none;
				}
			}

			.tribe-events-event-cost {
				float: none;
				width: auto;
				display: inline-block;
				text-align: left;
				margin: 0;
				@include media-breakpoint-up(sm) {
					margin: 23px 0 0;
				}
				span {
					background: transparent;
					font-weight: 300;
					@include font-size(1.125);
					border-color: $color__background-hr;
					padding: 15px 20px;
					border-radius: $border__radius;
				}
			}

			.tribe-events-read-more {
				& + .tribe-events-read-more{
					display: none;
				}
				position: relative;
				right: 0;
				bottom: 12px;
				letter-spacing: 0.72px;
				text-transform: uppercase;
				@include font-size(0.75);
				line-height: 18px;
				font-weight: 600;
				@include media-breakpoint-up(md) {
					bottom: 47px;
				}

				@include media-breakpoint-up(sm) {
					position: absolute;
				}

				&::after {
					content: "\e944";
					@include font-size(0.875);
					line-height: 18px;
					margin-left: 5px;
					@include linear-icon;
					position: relative;
					top: 1px;
				}
			}

			.tribe-event-schedule-details {
				font-weight: 400;
				font-style: italic;
				margin-bottom: 10px;
			}

			.tribe-events-venue-details {
				padding-left: 0;
			}

			.tribe-address {
				@include font-size(0.75);
			}

			.tribe-events-event-image {
				margin: 10px 0 10px 0;
				float: none;
				width: auto;
				@include media-breakpoint-up(lg) {
					margin: 10px 50px 10px 0;
					float: left;
				}
			}

			.tribe-events-list-event-description {
				width: 100%;
				float: none;
				margin-top: 25px;
				padding-right: 0;
				display: block;
			}
		}

		.tribe-events-button {
			margin-top: 21px;
			@include media-breakpoint-up(md) {
				margin-top: 51px;
			}
		}

		.tribe-events-sub-nav {
			margin-top: 30px;
			li {
				a {
					font-weight: 300;
					@include font-size(0.875);
					position: relative;
					background: transparent;
					padding: 0;
					span {
						display: none;
					}
					&::before {
						@include linear-icon;
						position: absolute;
						top: 2px;
					}
				}
				&.tribe-events-nav-right a,
				&.tribe-events-nav-next a {
					padding-right: 20px;
					&::before {
						content: '\e944';
						right: 0;
					}
				}
				&.tribe-events-nav-left a,
				&.tribe-events-nav-previous a {
					padding-left: 20px;
					&::before {
						content: '\e943';
						left: 0;
					}
				}
			}
		}

		.tribe-events-page-title {
			margin-top: 58px;
			margin-bottom: 7px;
		}

		.hentry {
			&:nth-child(2):last-child {
				height: calc(100% - 21px);
				.tribe-events-month-event-title {
					position: relative;
					top: 50%;
					left: 0;
					right: 0;
					@include translate(0, -50%);
				}
			}
			position: relative;
			.tribe-events-month-event-title {
				@include font-size(0.875);
				padding: 10px 0;
				display: none;
				@include media-breakpoint-up(md) {
					display: block;
				}
			}

			.tribe-events-tooltip {
				bottom: 100% !important;
				left: 50%;
				transform: translateX(-50%);
				right: auto;
				width: 388px;
				padding: 30px;
				box-shadow: 9px 0 40px rgba(0, 0, 0, 0.12);
				.tribe-events-event-thumb {
					float: none;
					padding: 0;
					margin-bottom: 17px;
				}

				.entry-title {
					font-weight: 400;
					margin-bottom: 20px;
				}

				.tribe-event-duration {
					@include font-size(0.75);
					font-style: italic;
					margin-bottom: 22px;
				}

				.tribe-event-description {
					@include font-size(0.875);
				}

				.tribe-events-arrow {
					right: auto;
					left: 50%;
					@include translate(-50%, 0);
				}

			}
		}

		.tribe-events-calendar {
			border: none;
			thead tr th {
				font-weight: 400;
				@include font-size(0.75);
				text-align: center;
				background: transparent;
				border: none;
				padding-bottom: 18px;
				@include media-breakpoint-up(sm) {
					@include font-size(1.125);
				}
				@include media-breakpoint-only(md) {
					@include font-size(0.75);
				}
			}

			tbody tr {
				td {
					border: none;
					border-top: 1px solid $color__background-hr;
					border-right: 1px solid $color__background-hr;
					height: 129px;
					text-align: center;

					> div:first-child, > div:first-child a {
						text-align: center;
						background: transparent;
						font-weight: 400;
						@include font-size(1.125);
						@include transition(.3s ease all);
						padding: 9px 0;
						height: 39px;
						margin-top: 0;
						@include media-breakpoint-up(sm) {
							padding: 9px 13px;
							text-align: left;
						}
					}

					> div:first-child a {
						padding: 0;
						@include media-breakpoint-up(md) {
							padding: 9px 13px;
						}
					}

					&:hover {
						background: transparent;
						box-shadow: none;
					}

					&:first-child {
						border-left: 1px solid $color__background-hr;
					}

					&.mobile-active {
						background: transparent;
					}

					&.tribe-events-has-events::after {
						display: none;
					}

					> .hentry {
						&::after {
							content: '\e934';
							@include linear-icon;
							height: auto;
							width: auto;
							background: transparent;
							@include font-size(1.125);
							position: relative;
							top: 35%;
							display: block;
							@include media-breakpoint-up(md) {
								display: none;
							}
						}
					}

					&.tribe-events-othermonth {
						background: transparent;
						> div:first-child {
							opacity: 1;
						}
					}
				}

				&:last-child td {
					border-bottom: 1px solid $color__background-hr;
				}
			}
		}
	}

	#tribe-bar-form {
		background: transparent;
		border: 1px solid $color__background-hr;
		border-radius: $border__radius;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		@include media-breakpoint-up(lg) {
			flex-wrap: nowrap;
		}

		label {
			@include font-size(1.125);
			font-weight: 400;
			text-transform: none;
			margin-bottom: 15px;
		}

		#tribe-bar-date,
		#tribe-bar-search {
			@include text_input;
			&:focus {
				background: transparent !important;
			}
		}

		.tribe-bar-submit {
			width: auto;
			input {
				@include btn_submit;
			}
		}

		#tribe-bar-collapse-toggle {
			width: 100%;
			font-weight: 400;
		}

		#tribe-bar-views {
			&.tribe-bar-views-open .tribe-bar-views-list {
				box-shadow: 2px 2px 8px -2px rgba(0, 0, 0, 0.5);
				padding: 10px !important;
			}
			order: 2;
			left: auto;
			float: none;
			width: 100%;
			padding-left: 0;
			@include media-breakpoint-up(lg) {
				width: 13.66667%;
			}

			.tribe-bar-views-inner {
				background: transparent;
				border-left: none;
				text-align: center;
				padding: 30px 30px 40px;
				border-top: 1px solid $color__background-hr;

				@include media-breakpoint-up(lg) {
					border-left: 1px solid $color__background-hr;
					border-top: none;
					padding: 32px 0 101px;
				}

				label {
					text-align: center;
				}

				.tribe-bar-views-list {
					text-align: left;
					float: none;
					width: auto;
					left: 50%;
					@include translate(-50%, 0);
					@include transition(.5s ease all);
					padding: 0 30px 22px 30px;
					margin-top: -10px;
					@include media-breakpoint-up(lg) {
						margin-top: 22px;
						left: 54%;
					}
					@include media-breakpoint-up(md) {
						padding: 0;
					}

					li a {
						background: transparent;
						display: inline-block;
						span {
							@include font-size(0.875);
							background: none;
							position: relative;
							&::before {
								content: '\e789';
								@include linear-icon;
								@include font-size(1.5);
								position: absolute;
								left: -11px;
								top: -4px;
							}
						}
					}

					li + li {
						margin-top: 10px;
					}

					li.tribe-bar-views-option-list span:before {
						content: '\e6cb';
					}
					li.tribe-bar-views-option-day span:before {
						content: '\e6cc';
					}
				}
			}
		}

		.tribe-bar-filters {
			right: auto;
			float: none;
			order: 1;
			width: 90%;
			.tribe-bar-filters-inner {
				display: flex;
				align-items: flex-end;
				justify-content: space-between;
				padding: 22px 27px 31px;
				flex-wrap: wrap;

				@include media-breakpoint-up(md) {
					flex-wrap: nowrap;
				}

				#tribe-bar-date,
				#tribe-bar-search {
					padding: 20.5px 20px 20.5px 60px;
				}

				.tribe-bar-date-filter i::before {
					content: '\e788';
				}

				.tribe-bar-search-filter i::before {
					content: '\e922';
				}

				> div {
					position: relative;
					padding: 0;
					margin: 10px;
					&:first-child,
					&:first-child + * {
						flex: 100%;
						@include media-breakpoint-up(md) {
							flex: 40%;
						}
					}

					i {
						position: absolute;
						bottom: 17px;
						left: 25px;
						color: #c7c7c7;
						@include font-size(1.5);
						z-index: 1;
					}
				}
			}
		}
	}

	.tribe-bar-disabled {
		float: none;
		#tribe-bar-form {
			.tribe-bar-filters input[type=text] {
				width: 100%;
			}

			#tribe-bar-views + .tribe-bar-filters {
				right: auto;
				width: 100%;
			}
		}
	}
}

.tribe-events-list-widget {
	.tribe-list-widget {
		margin-left: 0;
		.tribe-event-title {
			@include font-size(1.125);
			margin-bottom: 6px;
		}
	}
	.tribe-events-widget-link a {
		letter-spacing: 0.72px;
		text-transform: uppercase;
		@include font-size(0.755);
		line-height: 18px;
		font-weight: 600;
	}
}

body .datepicker.dropdown-menu {
	border-radius: $border__radius;
	padding: 0;
	border: none;
	&::before, &::after {
		display: none;
	}
	box-shadow: 1px 0 10px rgba(0, 0, 0, 0.12);
	.table-condensed {
		border: 1px solid $color__background-hr;
		tr td span, tr th, tr td {
			border-radius: $border__radius;
			@include transition(.3s ease all);
			@include font-size(0.75);
		}
		tr td span, tr td {
			font-style: italic;
		}
		.datepicker-switch {
			font-weight: 400;
		}
		thead tr + tr {
			pointer-events: none;
		}
	}
}

#tribe-events #tribe-events-content .hentry .tribe-events-tooltip .tribe-events-event-thumb img[src=""] {
	display: none;
}

#tribe-mobile-container {
	.type-tribe_events ~ .type-tribe_events {
		border-top: 1px solid $color__background-hr;
	}
	.tribe-events-event-body {
		margin: 20px 0;
		.tribe-mobile-day-heading {
			text-align: center;
			@include font-size(1.5);
			font-weight: 400;
		}

		.tribe-events-event-schedule-details {
			@include font-size(1.125);
		}

		.tribe-events-event-image {
			margin-bottom: 0;
			width: 50%;
		}

		.tribe-events-read-more {
			letter-spacing: 0.72px;
			text-transform: uppercase;
			@include font-size(0.75);
			line-height: 18px;
			font-weight: 600;
		}
	}
}

body.events-list.tribe-bar-is-disabled #tribe-events-content-wrapper {
	max-width: 100%;
}

.position-one-right-sidebar,
.position-one-left-sidebar {
	#tribe-events #tribe-events-content .tribe-events-loop .tribe-events-event-image {
		float: none;
		margin: 10px 0 10px 0;
		width: 100%;
	}
	#tribe-events #tribe-events-content .tribe-events-loop .tribe-events-event-image {
		float: none;
		margin: 10px 0 10px 0;
		width: 100%;
	}
}

.type-tribe_events {
	border-bottom: none;
}