/* Change default indent to Cherry Service List Grid System */
.cherry-services.services-wrap {
	.cherry-services-row {
		margin-left:  ($grid-gutter-width / -2);
		margin-right: ($grid-gutter-width / -2);
	}
	&.services-collapse-rows {
		.cherry-services-row {
			margin-left:  0;
			margin-right: 0;
		}
	}
}

/* Services item */
.cherry-services {
	.services-item {
		padding-bottom: 50px;
		* + .title_wrap {
			margin-top: 30px;
		}
		* + .content_wrap {
			margin-top: 16px;
		}

		* + .btn {
			margin-top: 25px;
		}
	}

	.service-icon {
		text-align: center;
		@media (min-width: 545px) {
			text-align: left;
		}
		i {
			@include font-size(2.75);
		}
	}
}

.services-single-item {

	> *:not(:first-child) {
		margin-top: 20px;
	}

	.service-features_row + .service-features_row {
		margin-top: 20px;
	}

	.cta_wrap .service-cta {
		&.cta-type-button {
			padding: 20px;
		}
	}

	.cta-form_success {
		padding: 5px 15px;
		border: none;
		@include font-size(.875);
		@include border-radius;
		font-style: italic;
		color: $color__dark;
		background: rgba($color__valid, .12);
		margin-bottom: 1.5em;
	}

	.testi_wrap .tm-testi--default,
	.testi_wrap .tm-testi--default-without-icon {
		.tm-testi__item {
			margin-top: 0;
			margin-bottom: 40px;
			
			&.col-md-6,
			&.col-md-4,
			&.col-md-3 {
				blockquote {
					text-align: left;
				}
			}
		}
	}
	.testi_wrap .tm-testi--speech-bubble {
		.tm-testi__item {
			blockquote {
				text-align: left;
			}
		}
	}
}


/* Filters and loaders */
.cherry-services {
	position: relative;
	.services-listing {
		transition: all 300ms linear;
		opacity: 1;
	}
	&.in-progress {
		.services-listing {
			opacity: 0;
		}
	}

	.services-loader {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%);

		.cherry-spinner {
			width: 90px;
			height: 90px;
			left: 50%;
			top: 50%;
			margin-left: -45px;
			margin-top: -45px;
			display: block;
			position: relative;
		}
		&.loader-small {
			bottom: 0;
			top: auto;
			.cherry-spinner {
				width: 40px;
				height: 40px;
				margin-left: -20px;
				margin-top: -20px;
			}
		}
	}
}

#tm_builder_outer_content .services-container .cherry-services-filter {
	text-align: center;
}
.services-container {
	.cherry-services-filter {
		text-align: center;
		border-bottom: 1px solid $color__background-hr;
		padding: 0 0 20px;
		margin-bottom: 50px;

		&_item {
			margin: 0;
		}

		&_link {
			@include font-size(.75);
			text-transform: uppercase;
			border: none;
			font-weight: 400;
			letter-spacing: .72px;
			padding: 0 17px;
		}
	}

	.services-ajax-pager {
		.archive & {
			margin: 0;
			padding: 70px 0 5px;
			border-top: 1px solid $color__background-hr;
		}
	}

	.nav-links {
		text-align: center;

		.page-numbers.current {
			pointer-events: none;
		}
	}
}


.services-heading_title {
	@include before;
	margin-bottom: 22px;
	&:before{
		margin-bottom: 30px;
	}
}

/*Custom Template*/
.tm_pb_cherry_services .template-default {
	.services-item {
		padding-top: 70px;
		padding-bottom: 70px;
		text-align: left;

		@media (min-width: 1200px) {
			padding-top: 120px;
			padding-bottom: 120px;
		}

		.image_wrap{
			img{
				width: 100%;
			}
		}

		&:nth-of-type(odd) {
			position: relative;
			z-index: 1;

			/*Service Section Background*/
			&:before {
				[class*="position-one-"] &,
				.position-fullwidth & {
					display: inline-block;
					content: '';
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					z-index: -1;
				}

				.position-fullwidth & {
					left: -200%;
					right: -200%;
				}
			}

			.image_wrap {
				margin-bottom: 50px;
				@media (min-width: 1200px) {
					float: right;
					margin-left: 50px;
				}
			}
		}

		&:nth-of-type(even) {
			.image_wrap {
				margin-bottom: 50px;
				@media (min-width: 1200px) {
					float: left;
					margin-right: 50px;
				}
			}
		}

		.title_wrap {
			text-transform: uppercase;
			padding-top: 30px;
			margin-top: 0;
			display: inline-block;
			@include before;

			&:before{
				margin-left: 0;
				margin-bottom: 32px;
			}
			@include media-breakpoint-up(xl) {
				padding-top: 0;
			}
		}

		* + .btn {
			margin-top: 40px;

			@media (min-width: 1200px) {
				margin-top: 62px;
			}
		}

	}
}

/*Template Media Icon*/
.tm_pb_cherry_services .template-media-icon {
	.services-item {
		text-align: center;
		margin-top: 28px;
		padding-bottom: 30px;
		@include media-breakpoint-up(md) {
			text-align: left;
		}

		.title_wrap {
			text-transform: uppercase;
			& + * {
				margin-top: 16px;
			}
		}

		i {
			@include font-size(3);
		}

		.service-icon {
			text-align: center;
			@include media-breakpoint-up(md) {
				text-align: left;
			}
		}

		.content_wrap + * {
			margin-top: 15px;
		}
	}
}

#tm_builder_outer_content  .tm_pb_cherry_services .template-media-icon {
	.services-item {
		vertical-align: top;
		display: flex;
		flex-direction: column;
		align-items: center;

		@include media-breakpoint-up(xl) {
			flex-direction: row;
			align-items: flex-start;
		}

		.service-descr{
			height: 150px;
			overflow: hidden;
		}

		.icon-block {
			position: relative;
			width: 105px;
			height: 105px;
			border-radius: 50%;
			text-align: center;
			vertical-align: middle;
			line-height: 4.3;
			flex: 0 0 auto;
			max-width: 100%;
			overflow: hidden;
			z-index: 1;
			margin-top: 11px;

			&:before {
				content: '';
				display: inline-block;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				transition: .3s;
				z-index: -1;
				transform: translateX(-100%);
				border-radius: 50%;
			}
		}

		.content-block {
			flex: 0 1 auto;
			text-align: center;
			padding-top: 15px;

			@include media-breakpoint-up(xl) {
				padding-left: 30px;
				padding-top: 0;
				text-align: left;
			}

			.content_wrap p:after {
				content: '...';
			}
		}

		.service-icon {
			text-align: center;
		}

		i {
			@include font-size(2.75);
		}

		&:hover {
			.icon-block:before {
				transform: translateX(0);
			}
		}
	}
}

/*Single service page*/
.single .hentry:not(.related-posts).cherry-services {
	margin-bottom: 0;
}

.cherry-services .services-single-item {
	.single-service-header {
		padding: 50px 0;
		overflow: hidden;
		position: relative;
		text-align: center;
		@include media-breakpoint-up(md) {
			padding: 170px 0;
		}
	}

	.content_wrap {
		padding: 80px 0;
		@include media-breakpoint-up(md) {
			padding: 120px 0;
		}
	}

	.single-service-header .post-thumbnail {
		margin: 0;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

		.image_wrap, .services-macros {
			height: 100%;
		}

		img {
			object-fit: cover;
			object-position: center;
			opacity: .6;
			width: 100%;
			height: 100%;
			.ie & {
				// Fallback to ie ( polyfill: object-fit-images - ofi.js )
				font-family: 'object-fit: cover; object-position: center;'
			}
		}
	}

	.title_wrap h2 {
		@include before;
		&:before{
			margin-bottom: 40px;
		}
	}

	.container {
		position: relative;
		z-index: 2;
	}
}


/*Service CTA*/
.services-single-item .cta_wrap .service-cta.cta-type-button {
	text-align: center;
	padding: 70px 30px;
	@include media-breakpoint-up(xl) {
		padding: 120px 21%;
	}
	h3 {
		@include before;
		&:before{
			margin-bottom: 31px;
		}
	}
	.tm_pb_promo_button {
		margin-top: 8px;
	}
}