#tm_builder_outer_content .tm_pb_blurb.tm_pb_module h4 {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	color: $regular_accent_color_2;
}

#tm_builder_outer_content .tm_pb_blurb.tm_pb_module .tm_pb_button,
#tm_builder_outer_content .tm_pb_blurb.tm_pb_module .tm_pb_button:after{
	color: $regular_accent_color_2;
}
#tm_builder_outer_content .tm_pb_blurb.tm_pb_module .tm_pb_button:hover{
	background-color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
	color: $invert_link_color;
}
#tm_builder_outer_content .tm_pb_blurb.tm_pb_module .tm_pb_button:hover:after{
	color: $invert_link_color;
}