#tm_builder_outer_content .tm_pb_module.tm_pb_button,
#tm_builder_outer_content .tm_pb_module .tm_pb_button {
	border-color: $regular_accent_color_1;
	background-color: $regular_accent_color_1;
	color: $invert_link_color;
}
#tm_builder_outer_content .tm_pb_button:hover{
	background-color: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
}

#tm_builder_outer_content .tm_pb_button:after,
#tm_builder_outer_content .tm_pb_button:hover:after{
	color: $invert_link_color;
}

.btn,
#tm_builder_outer_content .tm_pb_module .tm_pb_button {
	font-family: @font_family($h1_font_family);
}


.link{
	color: $regular_accent_color_1;
}

.link:hover{
	color: $regular_text_color;
}

/*--------------------------------------------
Invert Buttons
---------------------------------------------*/
.invert .btn,
#tm_builder_outer_content .invert .tm_pb_module .tm_pb_button{
	background-color: $invert_text_color;
	color: $regular_accent_color_3;
	border-color: $invert_text_color;
}

.invert .btn:hover,
#tm_builder_outer_content .invert .tm_pb_module .tm_pb_button:hover{
	color: $invert_text_color;
	background-color: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
}

.invert .link:hover,
.invert .search-form__submit{
	color: $invert_text_color;
}