#tm_builder_outer_content .tm_pb_contact_form .tm_pb_contact_form_label {
	color: $regular_accent_color_2;
}

#tm_builder_outer_content .tm_pb_contact_form .tm_pb_contact_main_title {
	font-style: $h4_font_style;
	font-weight: $h4_font_weight;
	font-size: $h4_font_size{px};
	line-height: $h4_line_height;
	font-family: @font_family( $h4_font_family );
	letter-spacing: $h4_letter_spacing{em};
	color: $regular_h4_color;
}

#tm_builder_outer_content .tm_pb_contact_form .tm-pb-contact-message,
#tm_builder_outer_content .tm_pb_contact_form .tm-pb-contact-message ul li:before{
	color: $invert_text_color;
}

.tm_pb_contact_main_title:before{
	background-color: $regular_accent_color_1;
}