#tm_builder_outer_content .tm_pb_promo {
	color: $invert_text_color;
}

#tm_builder_outer_content .tm_pb_promo h2{
	font-style: $h4_font_style;
	font-weight: $h4_font_weight;
	font-size: $h4_font_size{px};
	line-height: $h4_line_height;
	font-family: @font_family( $h4_font_family );
	letter-spacing: $h4_letter_spacing{em};
	color: $invert_h4_color;
}

#tm_builder_outer_content .tm_pb_button.tm_pb_promo_button {
	border-color: $invert_link_color;
	color: $invert_link_color;
}

#tm_builder_outer_content .tm_pb_button.tm_pb_promo_button:hover{
	background-color: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
}

#tm_builder_outer_content .tm_pb_button.tm_pb_promo_button:after,
#tm_builder_outer_content .tm_pb_button.tm_pb_promo_button:hover:after{
	color: $invert_link_color;
}

#tm_builder_outer_content .tm_pb_module.tm_pb_promo .tm_pb_button{
	background-color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
	color: $invert_text_color;
}

#tm_builder_outer_content .tm_pb_module.tm_pb_promo .tm_pb_button:hover{
	background-color: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
}

#tm_builder_outer_content .invert .tm_pb_module.tm_pb_promo .tm_pb_promo_button{
	background-color: $invert_text_color;
	color: $regular_accent_color_3;
	border-color: $invert_text_color;
}

#tm_builder_outer_content .invert .tm_pb_module.tm_pb_promo .tm_pb_promo_button:hover{
	color: $invert_text_color;
	background-color: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
}

#tm_builder_outer_content .tm_pb_promo h2:before {
	background-color: $regular_accent_color_1;
}

#tm_builder_outer_content .invert .tm_pb_promo h2:before {
	background-color: $invert_text_color;
}