#tm_builder_outer_content .tm-pb-spinner-double-bounce .tm-pb-double-bounce1,
#tm_builder_outer_content .tm-pb-spinner-double-bounce .tm-pb-double-bounce2 {
	background-color: $regular_accent_color_1;
}

#tm_builder_outer_content .tm_pb_posts .tm-posts_layout-3 .tm-posts_item_content {
	background: linear-gradient(to bottom, @alpha($regular_accent_color_2, 0%), @alpha($regular_accent_color_2, 80%));
}

#tm_builder_outer_content .tm_pb_posts .tm-posts_item_title {
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
}