#tm_builder_outer_content .tm_pb_team_member .tm_pb_team_member_name{
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	color: $regular_h6_color;
}

#tm_builder_outer_content .tm_pb_team_member .tm_pb_team_member_top:before {
	background-color: $regular_accent_color_3;
}

#tm_builder_outer_content .tm_pb_team_member .tm_pb_member_position{
	color: $regular_accent_color_1;
}