.tm_pb_testimonial:before {
	color: $regular_accent_color_1;
}

.tm-testi .tm-testi__item-name,
#tm_builder_outer_content .tm_pb_testimonial.tm_pb_module .tm_pb_testimonial_meta_wrap,
#tm_builder_outer_content .tm_pb_testimonial.tm_pb_module .tm_pb_testimonial_author{
	font-family: $body_font_family;
	font-size: $body_font_size{px};
	font-weight: $body_font_weight;
	line-height: $body_line_height;
	color: $regular_accent_color_2;
}

#tm_builder_outer_content .tm_pb_testimonial.tm_pb_module .tm_pb_testimonial_content:before{
	color: $regular_accent_color_1;
}
